/* body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
} */

* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 74, 93);
    color: aliceblue;
    padding: 0 100px;
    border-top: solid crimson;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: aliceblue;
    text-decoration: none;
    margin-right: 18px;
    transition: ease 1s;
    font-size: 22px;
}

header a:hover {
    color: aqua;
    font-size: 19px;
}

.cars {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/istockphoto-1303175877-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgb(144, 148, 152);
    background-position: center;
}

.cars h2 {
    padding-bottom: 5px;
}

.cars div {
    padding: 0 80px;
}

.cars span {
    color: rgb(200, 64, 64);
}

.cars a {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(30, 60, 97);
    padding: 10px;
    border-radius: 10px 30px 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    transition: ease 1s;
}

.cars a:hover {
    transform: scale(1);
    background-color: aqua;
}

i {
    font-size: 40px;
}


/*  ------------------***************************** page 2 ***************************** ----------------- */

.services h2 {
    text-align: center;
    margin: 25px 0;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 50px;
    transition: ease 0.5s;
}

.parent2 {
    width: 320px;
    height: 220px;
    position: relative;
}

.services .card {
    box-shadow: 3px 3px 6px 6px #3b80b5;
    padding: 10px;
    border-style: solid;
    border-color: rgb(99, 112, 212);
    width: 320px;
    margin-bottom: 40px;
    margin-right: 20px;
    text-align: center;
    height: 220px;
    margin-top: 5px;
}

.services .card::after {
    content: " ";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.services .card:hover::after {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.card h3 {
    color: rgb(200, 64, 64);
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 1000px;
}

.services .card>div {
    color: #111314;
    font-size: 30px;
}


/* --------------------------------page3------------------------------------------ */

.pro {
    background-color: #406b89;
    text-align: center;
    padding: 30px 100px;
}

.pro h2 {
    color: rgb(248, 248, 248);
    margin-bottom: 20px;
    border-bottom: solid crimson;
    display: inline-block;
}

.parent22 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 250px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 15px;
}

.child {
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 150px;
}

.img2 {
    width: 348px;
    height: 180px;
}

.btn {
    margin-left: 250px;
    margin-top: 5px;
    background-color: #3b80b5;
    color: #111314;
    width: 70px;
    height: 30px;
    border-radius: 15px;
}

.pp {
    margin-top: 5px;
    font-size: medium;
    font-style: oblique;
}

.child::after {
    content: " ";
    /* width: 0;
    height: 0; */
    width: 350px;
    height: 250px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    border-radius: 15px;
    opacity: 0.5;
    visibility: hidden;
}

.child:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: 1s;
}

.hd {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
    color: white;
    visibility: hidden;
}

.child:hover .hd {
    visibility: visible;
    transition: 0.25ss;
}


/* --------------------------------page4------------------------------------------ */

.cont {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 5px;
    background-color: white;
}

h1 {
    display: inline-block;
    color: rgb(33, 30, 30);
    margin-left: 150px;
    margin-top: 50px;
    font-size: 40px;
}

span {
    font-size: 50px;
    color: red;
    border-bottom: 5px solid saddlebrown;
    margin-bottom: 10px;
}


/* --------------------------------page5------------------------------------------ */

.serve h2 {
    text-align: center;
    margin: 30px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.serve .cont {
    display: flex;
    padding: 5px 80px;
    flex-wrap: wrap;
}

.serve .carr {
    box-shadow: 3px 3px 6px 6px #3b80b5;
    padding: 10px;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 15px;
    text-align: center;
}

.carr h3 {
    color: crimson;
    font-size: 25px;
}

.serve .carr .r2 {
    color: #4b474b;
    font-size: 70px;
}

.serve .carr::after {
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.serve .carr :hover::after {
    width: 100%;
    height: 100%;
    transition: 1s;
}